[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/jpeg;image/png;
Actions=compressimages;
X-KDE-Priority=TopLevel

[Desktop Action compressimages]
Name=Compress Images
Exec=konsole -e /home/username/scripts/compress_images.sh %F
Icon=image
Terminal=true
