[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/mp4;video/x-matroska;video/avi;video/x-msvideo;video/webm;
Actions=postprocessvideo;
X-KDE-Priority=TopLevel

[Desktop Action postprocessvideo]
Name=Post Process Video
Exec=konsole -e "@HOME@/.local/bin/postprocess_video.sh" %f
Icon=video
Terminal=true
